body.light {
  --background-color: rgb(255, 255, 255);
  --background-color-secondary: rgb(231, 229, 229);

  --hover-color-primary: #53d0a2;
  --hover-color-secondary: rgb(183, 180, 180);

  --font-color-primary: rgb(26, 26, 26);
  --font-color-secondary: rgb(57, 55, 55);
  --font-color-additional: rgb(50, 49, 49);
  --font-color-hover: rgb(32, 32, 32);
}
